* {
  background: rgb(56, 101, 56);
  color: lemonchiffon;
  font-family: 'flower3', sans-serif;
}

h1 {
  font-size: 50px;
}

.plants-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plants-container {
  display: grid;
  grid-template: repeat(28, 1fr) / repeat(4, 1fr);
  grid-gap: 30px;
}

.individualPlantDiv {
  text-align: center;
  font-size: 25px;
}

.plant-images {
  width: 200px;
  height: 200px;
  background-size: cover;
  border: 2px solid lemonchiffon;
  border-radius: 5%;
}

