* {
  background: rgb(56, 101, 56);
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
  color: lemonchiffon;
  font-family: 'flower3', sans-serif;
}

h1 {
  font-size: 50px;
  letter-spacing: 10px;
}

h1, .species-name {
  text-shadow: 3px 3px black;
  font-weight: bold;
}

h2, .modal-text {
  font-size: 30px;
}

.home-screen, .plants-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plants-container {
  display: grid;
  grid-template: repeat(28, 1fr) / repeat(4, 1fr);
  grid-gap: 30px;
}

.individualPlantDiv {
  text-align: center;
  font-size: 25px;
}

.plant-images {
  width: 200px;
  height: 200px;
  background-size: cover;
  border: 2px solid lemonchiffon;
  border-radius: 5%;
  box-shadow: 7px 7px 7px rgb(30, 30, 30);

}

.plant-images, .modal-image {
  object-fit: cover;
  object-position: top;
}

[tabIndex] {
  outline: none;
}

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(56, 101, 56, .7);
  backdrop-filter: blur(5px);
  background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}

.modal-container {
  border: 2px solid lemonchiffon;
  position: fixed;
  height: 50%;
  width: 60%;
  top: 25vh;
  left: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 10px rgb(30, 30, 30);
}

.modal-image {
  height: 50vh;
  width: 50vh;
  border-right: 2px solid lemonchiffon;
}

button {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 30px; 
  height: 30px;
  align-self: flex-start;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay, .plant-images, .species-name, button {
  cursor: pointer;
}

.modal-text {
  font-family: 'MRF Fields of Wildflowers', sans-serif;
  letter-spacing: 2px;
  text-shadow: 3px 3px black;
}
